/* Text font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
/* main css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared css */

.btn{
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    color: white;
    border: none;
}
/* colors */
.orange{
    color: #FEA301;

}
.skyblue{
    color: #01ACFD;
}
.cyan{
    color: rgb(5, 212, 223);
}
.purple{
    color: rgb(93, 88, 239);
}
.black{
    color: black;
}

/* header styles */
.header{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    max-width: 1158.61px;
}

/* navbar */
.navbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    
    
    
}
.left-nav{
    display: flex;
    margin-right: 186px;
    align-items: center;
    gap: 11px;
}

.mid-nav-data{
    display: flex;
    gap: 32px;
    align-items: center;

}
.right-nav{
    margin-left: 186px;
}
.left-nav-name{
    color: black;
    font-size: 2rem;
    font-weight: 700;
}
.nav-mid-info-1{
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;

}
.nav-mid-info-1:hover{
    font-size: 1.35rem;
}



.nav-mid-info{
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}
.nav-mid-info:hover{
    font-size: 1.35rem ;
}


.right-nav-bt{
    background-color: #FEA301;
    padding: 10px 60px;
    transition: 0.3s;
    cursor: pointer;
}
.right-nav-bt:hover{
    background-color: #01ACFD;
    color: #FEA301;
    font-weight: 800;
    
}


#ham-menu-icon{
    display: none;
}


/* header main css */
.header-main-body{
    display: flex;
    align-items: center;
    
}
.header-main-img{
    width: 468.61px;
    height: 575px;
    margin-left: 50px;
}
.main-title{
    font-weight: 700;
    font-size: 3.5rem;

}
.header-main-description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
.header-main-bt{
    background-color: black;
    padding: 10px 47px;
    cursor: pointer;
    transition: 0.3s;
}
.header-main-bt:hover{
    font-weight: 800;
    background-color: #FEA301;
    color: #01ACFD;
}


/* main css */
.main{
    /* background-color: rgba(254, 163, 1, 1); */
    padding-bottom: 100px;
    background: url('../assets/bg.png'), linear-gradient( white 55%, rgb(255, 224, 172) );

    
}
.standard{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 1158.61px;
    
    
}
.standard-title{
    font-weight: 700;
    font-size: 2.87rem;
    text-align: center;
    margin-bottom: 80px;
}

.standard-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28.29px;
}
.card-1{
    border: 1px solid #DEF5FF;
    background-color: #DEF5FF;
    text-align: center;
    padding: 53px 40px;
    border-radius: 18.86px;
    background-image: linear-gradient(#DEF5FF, 25%  ,white ,rgb(255, 255, 255) );
}
.card-2{
    border: 1px solid rgba(255, 244, 220, 1);
    background-color: rgba(255, 244, 220, 1); 
    text-align: center;
    padding: 53px 40px;
    border-radius: 18.86px;
    background-image: linear-gradient(rgba(255, 244, 220, 1), 25%  ,white, white );
}
.card-3{
    border: 1px solid rgba(242, 232, 255, 1);
    text-align: center;
    padding: 53px 40px;
    border-radius: 18.86px;
    background-image: linear-gradient(rgba(242, 232, 255, 1), 25%  ,white,white );

    
}
.card-title{
    margin-top: 32px;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 1.53rem;


}
.card-title-2{
    margin-top: 44px;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 1.53rem;
}
.card-description{
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(128, 128, 128);
}
.card-subtitle-1{
    font-size: 1rem;
    font-weight: 700;
    color: rgba(100, 200, 255, 1);
    cursor: pointer;
    transition: 0.3s;
}
.card-subtitle-1:hover{
    font-size: 1.2rem;
    font-weight: 800;

}
.card-subtitle-2{
    font-size: 1rem;
    font-weight: 700;
    color: rgba(240, 170, 0, 1);
    cursor: pointer;
    transition: 0.3s;
}
.card-subtitle-2:hover{
    font-size: 1.2rem;
    font-weight: 800;

}
.card-subtitle-3{
    font-size: 1rem;
    font-weight: 700;
    color: rgba(135, 0, 255, 1);
    cursor: pointer;
    transition: 0.3s;
}
.card-subtitle-3:hover{
    font-size: 1.2rem;
    font-weight: 800;

}
.standard-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
    gap: 10px;
}

.prev-next{
    cursor: pointer;
    transition: 0.3s;
}
.prev-next:hover{
    width: 62px;
    height: 62px;
}

/* stories section */
.stories-main-title{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.our-story{
    font-size: 2.87rem;
    font-weight: 700;
    color: black;
}
.stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1158.61px;
}

.stories-right-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.story-left-btn{
    margin-top: 314px;
    margin-left: -500px;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(60, 216, 232, 1);
    border-radius: 48px;
    border: none;
    position:absolute ;
    cursor: pointer;
    transition: 0.3s;

}
.story-left-btn:hover{
    font-weight: 600 ;
    background-color: rgba(149, 178, 38, 1);
}
.stories-left-info-container{
    margin-top: -25px;
    width: 540px;
    background-color: #ffffff;
    padding: 79px 38.20px 40.50px 38.20px;
    border-radius: 0px 0px 16px 16px;

}
.story-left-main-title{
    margin-bottom: 52px;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.story-left-description{
    color: rgba(102, 102, 102, 1);
    font-size: 1rem;
    font-weight: 500;
}
.left-img{
    border-radius: 16px 16px 0px 0px;
}


.right-btn-one{
    position: absolute;
    margin-left: -255px;
    margin-top: 160px;
    background-color: rgba(149, 178, 38, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 11px 19px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.right-btn-one:hover{
    background-color: rgba(93, 88, 240, 1);
    font-weight: 600;
}

.right-btn-two{
    position: absolute;
    margin-left: -255px;
    margin-top: 160px;
    background-color: rgba(93, 88, 240, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 11px 19px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.right-btn-two:hover{
    background-color: rgba(149, 178, 38, 1);
    font-weight: 600;

}
.right-story-first-box{
    max-width: 290px;
}
.right-story-box-img{
    max-width: 290px;
}



.right-story-box-one-down{
    background-color: rgb(255, 255, 255);
    margin-top: -5px;
    padding: 38.33px 38.79px 28.76px 37.91px ;
    border-radius: 0px 0px 16px 16px;
    
}
.right-story-box-img{
    border-radius: 16px 16px 0px 0px;
}
.right-story-box-one-subtitle{
    font-size: 1rem;
    font-weight: 700;
}
.view-all{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.view-btn{
    padding: 10px 61px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    border: none;

}
.view-btn:hover{
    background-color: #FEA301;
    color: #01ACFD;
    font-weight: 800;

}
#extra-box{
    display: none;
}

/* Footer styles */
.footer{
    background-color: rgba(1, 172, 253, 1);
}


.footer-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 122px 220px 140px 180px;
}

.footer-left-top{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-title{
    color: white;
    font-size: 2.6rem;
    font-weight: 700;

}
.footer-left-icon{
    height: 81px;
    width: 81px;
}
.footer-left-top{
    margin-bottom: 35px;
}
.footer-left-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

.footer-mid-subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
    cursor: pointer;
}
.footer-mid-subtitle:hover {
    font-weight: 1000;
    color: #FEA301;
}
.footer-mid-info{
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 25px;
    cursor: pointer;
}
.footer-mid-info:hover{
    color: #FEA301;
    font-weight: 600;
}

.footer-mid-container{
    margin-left: 170px;
}
.footer-right-container{
    margin-left: 143px;
}

.right-subtitle{
    color: white;
    font-size: 1.62rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-right-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}













/* responsive media queries */
@media screen and (max-width :576px) {
    .navbar{
        border: 1px solid orange;
        margin-top: 0px;
        padding: 12px 16px;
        
    }
    .left-nav-name , .mid-nav-data , .right-nav-bt{
        display: none;
    }

   
    #ham-menu-icon{
        display: block;
        height: 30px;
        width: 30px;
        margin-left: 65px;
    }
    .header-main-body{
        flex-direction: column-reverse;
        padding-left: 17px;
        padding-right: 17px;
    }
    .main-title{
        text-align: center;
        font-size: 2rem;
    }
    .header-main-description{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }
    .header-main-bt-container{
        display: flex;
        justify-content: center;
    }
    .header-main-bt{
        padding: 6px 24px;
    }
    .btn{
        font-size: 1rem;
        border-radius: 8px;
        font-weight: 700;
    }
    .header-main-img{
        width: 100%;
        height: 423px;
        margin: 0 auto;
    }

    .standard-title{
        font-size: 1.5rem;
    }

    .standard-card{
        grid-template-columns: repeat(1 ,1fr);
        margin-top: -60px;
        margin-left: 16.5px;
        margin-right: 16.5px;
    }
    .standard-button-container{
        display: none;
    }
    .stories-left{
        display: none;
    }
    .stories{
        grid-template-columns: repeat(1,1fr);
    }

    .our-story{
        font-size: 2rem;
      
    }


    .right-story-first-box{
        
        width: 100%;
    }
    .right-story-box-img{
        
        width: 100%;
    }
    
    .right-story-box-one-subtitle{
         font-size: 0.7rem;
    }
    .right-story-box-one-down{
        padding: 25px 15px 19px 22px;
        
        width: 100%;
    }
    .stories-right-container{
        gap: 8px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
   


    .right-btn-one{
        position: absolute;
        margin-left: -160px;
        margin-top: 104px;
        background-color: rgba(149, 178, 38, 1);
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 6px 11px;
        border-radius: 28px;
        border: none;
    }


     

    .right-btn-two{
        position: absolute;
        margin-left: -160px;
        margin-top: 104px;
        background-color: rgba(93, 88, 240, 1);
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 6px 11px;
        border-radius: 28px;
        border: none;
    
    }
    #extra-box{
        display: block;
    }

    .footer-main-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 65px 12px 60px 20px;
    }
    
    .footer-mid-container{
        margin: 32px 0px 0px 0px;
    }
    .footer-right-container{
        margin: 0px;
    }

    .right-story-box-one-up{
        max-width: 100%;
    }

}

@media screen and (max-width :360px) {
    .right-btn-one{
        position: absolute;
        margin-left: -150px;
        margin-top: 90px;
        background-color: rgba(149, 178, 38, 1);
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 6px 11px;
        border-radius: 28px;
        border: none;
    }


     

    .right-btn-two{
        position: absolute;
        margin-left: -150px;
        margin-top: 90px;
        background-color: rgba(93, 88, 240, 1);
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 6px 11px;
        border-radius: 28px;
        border: none;
    
    }
    
}
















































